.graphs{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
h1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
