.topbar{
    width: 100%;
    height: 60px;
    background-color: #5584AC;
    color: aliceblue;
    position: sticky;
}
.barwapper{
    height: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.background{
    background-color: #5584AC;
    color: aliceblue;
}
.heading{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
