.topbar{
    width: 100%;
    height: 60px;
    background-color: #f0f4f8;
    color: aliceblue;
    position: sticky;
}
.barwapper{
    height: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.background{
    background-color: #f3f3f3;
    color: aliceblue;
}
.heading{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
